.venv/
__pycache__/
*.pyc

# dbt
target/
dbt_packages/
logs/
profiles.yml
.user.yml

# raw data (not uploaded to GitHub, download instructions in README)
data/raw/*
!data/raw/.gitkeep
*.duckdb

# Power BI
*.pbix.bak

.env
